<!doctype html>
<html lang="en" ng-app="pwa2021">
  <head>
    <meta charset="utf-8">
    <title>pwa2021</title>
    <link rel="stylesheet" href="node_modules/bootstrap3/dist/css/bootstrap.min.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap3/dist/js/bootstrap.min.js"></script>
  </head>

  <body>
      <div class="container" ng-controller="Ctrl as ctrl">
        <img src="images/wmii.png">
        <h1>pwa2021 - the first page</h1>
        <a class="btn btn-primary" href="second.html">The second page</a>

        <table class="table table-stripped">
          <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Year of birth</th>
            <th>Balance</th>
            <th></th>
          </tr>        
          <tr ng-repeat="person in ctrl.persons">
            <td><span class="badge" ng-bind="$index"></span></td>
            <td ng-bind="person.firstName"></td>
            <td ng-bind="person.lastName"></td>
            <td ng-bind="person.year"></td>
            <td ng-bind="person.balance"></td>
            <td>
              <button class="btn btn-danger btn-xs" ng-click="ctrl.delete(person._id)">del</button>
              <button class="btn btn-primary btn-xs" ng-click="ctrl.copy($index)">copy</button>
            </td>
          </tr>
        </table>

        <label for="edit_person_data">Edit person data</label>
        <form id="edit_person_data" class="form form-inline">
          <input class="form-control" type="text" placeholder="first name" ng-model="ctrl.person.firstName"/>
          <input class="form-control" type="text" placeholder="last name" ng-model="ctrl.person.lastName"/>
          <input class="form-control" type="number" placeholder="year" ng-model="ctrl.person.year"/>
          <button class="btn btn-default" ng-click="ctrl.new()" ng-disabled="!ctrl.isPersonDataCorrect()">New</button>
          <button class="btn btn-default" ng-click="ctrl.modify()" ng-if="ctrl.clickedRow >= 0" ng-disabled="!ctrl.isPersonDataCorrect()">Modify <span class="badge" ng-bind="ctrl.clickedRow"></span></button>
        </form><br/>

        <label for="deposit_on_all">Deposit on all accounts</label>
        <form id="deposit_on_all" class="form form-inline">
          <input class="form-control" type="number" placeholder="amount" ng-model="ctrl.amount"/>
          <button class="btn btn-default" ng-click="ctrl.deposit_on_all()" ng-disabled="!ctrl.isDepositAvailable()">Submit</button>
        </form><br/>

        <label for="transfer">Transfer from one account to another</label>
        <form id="transfer" class="form form-inline">
          <select class="form-control" ng-model="ctrl.from">
            <option ng-repeat="person in ctrl.persons" value="{{$index}}" ng-bind="person.firstName+' '+person.lastName"></option>
          </select>
          <select class="form-control" ng-model="ctrl.to">
            <option ng-repeat="person in ctrl.persons" value="{{$index}}" ng-bind="person.firstName+' '+person.lastName"></option>
          </select>
          <input class="form-control" type="number" placeholder="amount" ng-model="ctrl.amount"/>
          <button class="btn btn-default" ng-click="ctrl.transfer()" ng-disabled="!ctrl.isTransferAvailable()">Submit</button>
        </form><br/>

      </div>

      <script src="node_modules/angular/angular.min.js"></script>
      <script src="js/app.js"></script>
    </body>
</html>
