<label for="deposit_on_all">Deposit on all accounts</label>
<form id="deposit_on_all" class="form form-inline">
  <input class="form-control" type="number" placeholder="amount" ng-model="ctrl.amount"/>
  <button class="btn btn-default" ng-click="ctrl.deposit_on_all()" ng-disabled="!ctrl.isDepositAvailable()">Submit</button>
</form><br/>

<label for="transfer">Transfer from one account to another</label>
<form id="transfer" class="form form-inline">
  <select class="form-control" ng-model="ctrl.from">
    <option ng-repeat="person in ctrl.persons" value="{{person._id}}" ng-bind="person.firstName+' '+person.lastName"></option>
  </select>
  <select class="form-control" ng-model="ctrl.to">
    <option ng-repeat="person in ctrl.persons" value="{{person._id}}" ng-bind="person.firstName+' '+person.lastName"></option>
  </select>
  <input class="form-control" type="number" placeholder="amount" ng-model="ctrl.amount"/>
  <button class="btn btn-default" ng-click="ctrl.transfer()" ng-disabled="!ctrl.isTransferAvailable()">Submit</button>
</form><br/>